body {
    font-family: 'Lato' sans-serif;
    background-image: url('/static/assets/bg_image.jpg');
    background-size: cover;
    background-position: top center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0.3), rgba(0, 0, 0, 0.6)
    );
}

.weatherResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12%;
    text-align: center;
    justify-content: center;
}

.city_name {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
}

.weatherMain {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    text-shadow: 2px 5px rgba(0,0,0,0.3);
}

.temp {
    color: #fff;
    font-size: 100px;
    font-weight: 900;
    text-shadow: 2px 10px rgba(0,0,0,0.3);
}

.temp p span {
    font-size: 600;
}

.jumbotron {
    margin-top: 10%;
    width: 50%;
    background-image: linear-gradient(
        to bottom, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.8)  
    );
}
.navbar {
    position: relative;
}

#githubLink {
    position: absolute;
    left: 95%;
}

#linkedinLink {
    position: absolute;
    left: 89%;
}