{% extends 'base.html' %}

{% block content %}
    
    <div class="weatherResult card">
        <img src="/static/assets/cloudy.svg" alt="" height="50px" width="auto">
        <div class="city_name">
            <p>
                {{weather['name']}}
            </p>
        </div>
        <div class="weatherMain">
            <p>
                {{weather['weather'][0]['main']}}
            </p>
        </div>
        <div class="temp">
            <p>
                {{weather['main']['temp']}} <span>&#176;C</span>
            </p>
        </div>
        
    </div>

{% endblock content %}