{% extends 'base.html' %}
{% from 'macros.html' import weather_card %}

{% block content %}
    
    <div class="weatherResult card">
        <!-- <img src="http://openweathermap.org/img/wn/{{weather.days[0].icon}}@2x.png" alt="" height="50px" width="auto">
        <div class="city_name">
            <p>
                {{weather.city}}
            </p>
        </div>
        <div class="weatherMain">
            <p>
                {{weather.days[0].main}}
            </p>
        </div>
        <div class="temp">
            <p>
                {{weather.days[0].temperature}} <span>&#176;C</span>
            </p>
        </div> -->
        
        {{weather_card(weather, 0)}}
    </div>

{% endblock content %}