{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="form_container">
            <form method="POST" class="form">
                <div class="form-group">
                    <select name='modeOfSearch' class="dropdown">
                        <option value="IP">IP address</option>
                        <option value="City">City</option> 
                        <option value="Zip">Zip Code</option>                       
                    </select>
                    <input type="text" placeholder="Enter IP/City" class="textField form-control" name='searchItem', required='true'>
                    <input type="text" placeholder="Country/Country Code" class="textField form-control" name='country'>
                    <input type="submit" value="Search" class="btn btn-primary searchButton">
                </div>        
            </form> 
        </div> 
    </div>
{% endblock content %}